* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 96px;
}
.navbar .links {
  display: flex;
  gap: 24px;
  font-size: 18pt;
}
.navbar a {
  text-decoration: none;
}

.banner {
  margin: 0px 96px 48px;
  height: 223px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
}
.banner img {
  -webkit-filter: brightness(40%);
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.banner .title {
  position: relative;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 36pt;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.gallery {
  display: flex;
  gap: 66px;
  margin: 0px 96px 48px;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 25px;
  background: #F6F6F6;
  padding: 56px 0 56px;
  justify-content: center;
}
.gallery .card {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  z-index: 2;
  width: 25vw;
  height: 25vw;
  border-radius: 10px;
}
.gallery .card .title-card {
  position: absolute;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 24px 24px;
  color: #FFFFFF;
}
.gallery .card .image-card {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
}

.property {
  margin: 0px 96px 48px;
}
.property .property-slider {
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 25px;
}
.property .property-slider .container {
  display: flex;
  width: 100%;
  transition: transform 0.5s;
}
.property .property-slider .container .slides {
  width: 93vw;
  height: 54vh;
}
.property .property-slider .container .slides .pictures {
  border-radius: 25px;
  width: 93vw;
  height: 100%;
  background-size: cover;
  background-position: 100%;
}
.property .property-slider .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}
.property .property-slider .arrow.left {
  left: 10px;
}
.property .property-slider .arrow.right {
  right: 10px;
}
.property .property-infos-container {
  display: flex;
  align-content: space-between;
  margin-top: 30px;
  flex-wrap: wrap;
}
.property .property-infos-container .property-infos {
  width: 50%;
}
.property .property-infos-container .property-infos h2 {
  font-size: 27pt;
  font-weight: 500;
  color: #FF6060;
  line-height: 38.25pt;
}
.property .property-infos-container .property-infos p {
  font-size: 13.5pt;
}
.property .property-infos-container .host-infos {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.property .property-infos-container .host-infos p {
  width: 7%;
  color: #FF6060;
  text-align: right;
  line-height: 21pt;
  font-size: 13.5pt;
  font-weight: 500;
}
.property .property-infos-container .host-infos img {
  width: 64px;
  height: 64px;
  border-radius: 60px;
}
.property .property-infos-container .property-tags {
  display: flex;
  width: 50%;
  gap: 10px;
  margin-top: 15px;
}
.property .property-infos-container .property-tags .tags {
  background: #FF6060;
  color: white;
  padding: 5px 21px;
  border-radius: 12px;
  font-size: 10.5pt;
  font-weight: 700;
}
.property .property-infos-container .property-ratings {
  display: flex;
  width: 50%;
  gap: 10px;
  margin-top: 15px;
  height: fit-content;
  justify-content: flex-end;
}
.property .property-infos-container .property-description-equipments {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.property .property-infos-container .property-description-equipments .box-input {
  position: relative;
  display: flex;
  background: #FF6060;
  width: 40%;
  margin: 15px 0;
  justify-content: space-between;
  padding: 7px 8px;
  border-radius: 5px;
}
.property .property-infos-container .property-description-equipments .box-input .title {
  color: white;
  font-size: 18pt;
  font-weight: 700;
}
.property .property-infos-container .property-description-equipments .box-input .text {
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  top: 54px;
  background: rgba(246, 246, 246, 0.4509803922);
  padding: 10px;
  left: 0;
}
.property .property-infos-container .property-description-equipments .box-input .text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
