* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 96px;
  .links {
    display: flex;
    gap: 24px;
    font-size: 18pt;
  }
  
  a {
    text-decoration: none;

    &:focus {
      text-decoration: underline;
    }
  }
}

.banner {
  margin: 0px 96px 48px;
  height: 223px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 25px;

  img {
    -webkit-filter: brightness(40%);
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }

  .title {
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 36pt;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}
  
.gallery {
  display: flex;
  gap: 66px;
  margin: 0px 96px 48px;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 25px;
  background: #F6F6F6 ;
  padding: 56px 0 56px;
  justify-content: center;

  .card {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    z-index: 2;
    width: 25vw;
    height: 25vw;
    border-radius:10px ;

    .title-card {
      position: absolute;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      margin: 0 0 24px 24px;
      color: #FFFFFF
    }

    .image-card {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
    }
  }
}

.box-input-container{  
  display: flex;
  flex-direction: column;
  width: 40%;
  .box-input {
    position: relative;
    display: flex;
    background: #FF6060;
    margin: 15px 0 0 0;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 5px;
    
    .title {
      color: white;
      font-size: 18pt;
      font-weight: 700;
    }
  }

  .text {
    display: none;
    transition: background-color .2s ease-in-out;
    top: 54px;
    background: #F6F6F673;
    padding: 10px;
    left: 0;

    ul {  
      list-style: none;
      transition: background-color .2s ease-in-out;
      padding: 0;
      margin: 0;
    }
  }
}
  

.property{
  margin: 0px 96px 48px;

  .property-slider {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 25px;

    .container {
      display: flex;
      width: 100%;
      transition: transform 0.5s;

      .slides {
        width: 93vw;
        height: 54vh;
        
        .pictures {
          border-radius: 25px;
          width: 93vw;
          height: 100%;
          background-size: cover;
          background-position: 100%;
        }
      }
    }

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 48px;
      height: 48px;
      background: #FFFFFF;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 2;
      &.left {
        left: 10px;
      }
      
      &.right {
        right: 10px;
      }
    }

  }
  
  .property-infos-container {
    display: flex;
    align-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
      
    .property-infos {
      width: 50%;

      h2 {
        font-size: 27pt;
        font-weight: 500;
        color: #FF6060;
        line-height: 38.25pt;
      }
      
      p {
        font-size: 13.5pt;
      }
    }

    .host-infos {
      display: flex;
      width: 50%;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;
  
      p {
        width: 7%;
        color: #FF6060;
        text-align: right;
        line-height: 21pt;
        font-size: 13.5pt;
        font-weight: 500;
      }
  
      img {
        width: 64px;
        height: 64px;
        border-radius: 60px;
      }
    }
  
    .property-tags {
      display: flex;
      width: 50%;
      gap: 10px;
      margin-top: 15px;
      
      .tags {
        background: #FF6060;
        color: white;
        padding: 5px 21px;
        border-radius: 12px;
        font-size: 10.5pt;
        font-weight: 700;
      }
    }
  
    .property-ratings {
      display: flex;
      width: 50%;
      gap: 10px;
      margin-top: 15px;
      height: fit-content;
      justify-content: flex-end;
    
    }
  
    .property-description-equipments {
      display: flex;
      width: 100%;
      justify-content: space-between;
      
    }
  }
}

  
.footer {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0 ;
  flex-direction: column;

  .logo-footer {
    padding: 15px;
  }
  
  p {
    color: white;
    font-size: 18pt;
    padding: 15px;
  
  }
}


.about {
  height: 72.2vh;
  
  .banner {
    img {
      -webkit-filter: brightness(80%);
    }
  }

  .about-content {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 40px;

    .box-input-container {
      width: 80%;
    }
  }
}
  
  
  
  
  
  
  
  
  
  